@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
    width: 130px;
}

.min-h-40vh {
    min-height: 40vh;
}

.min-h-84vh {
    min-height: 84vh;
}

.min-h-70vh {
    min-height: 70vh;
}

.h-70vh {
    height: 70vh;
}

nav.links-internal a.active::after {
    content: "";
    display: block;
    background-image: url("img/circle-1-dark.svg");
    position: absolute;
    min-width: 75px;
    height: 69px;
    background-repeat: no-repeat;
    background-size: contain;
    top: -22px;
    background-position: center center;
    left: -17px;
}
